# Игнорируем временные и кэшированные файлы Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
#[Mm]emoryCaptures/ # раскомментируйте, если хотите игнорировать

# Игнорируем файлы, создаваемые IDE
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Игнорируем сгенерированные метафайлы Unity
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Игнорируем сборки и пакеты
*.apk
*.unitypackage

# Игнорируем Crashlytics файлы
crashlytics-build.properties

# Исключения для метафайлов активов (если активы отслеживаются)
!/[Aa]ssets/**/*.meta

# Исключение для .dll файлов (если они необходимы)
!**/*.dll

# Игнорируем временные файлы системы (Windows, MacOS)
Thumbs.db
.DS_Store

# Игнорируем медиафайлы (если используете Git LFS)
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text